html,body{
    width: 100%;
    overflow-x: hidden;
}
.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.event_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    width: 250px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.event_card:hover{
    transform: scale(0.95);
    transition: all 0.5s ease;
}
.event_title{
    font-weight: bold;
}