html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.card-container {
    width: 100%;
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.empty_div {
    position: relative;
    transition: all 0.5s ease;
}

  .event_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 0 30px;
    align-items: center;
    margin: 30px;
    width: 300px;
    min-height: 30rem;
    word-wrap: break-all;
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom-color: #5cb85c;
    border-bottom-width: 4px;
}

.event_card::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #5cb85c;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: 47%;
}

.event_card .btn {
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
}

.date {
    color: grey;
    margin-top: 20px;
}

.date:nth-child(2) {
    margin-bottom: 20px;
}

.event_details {
    display: flex;
    flex-direction: column;
}

.empty_div:hover {
    transform: scale(0.95);
    transition: all 0.5s ease;
}


  .event_title {
    font-weight: bold;
    font-size: 1.5rem;
    min-height: 5rem;
}

.link {
    margin-top: 20px;
}

.location {
    color: #5cb85c;
    font-weight: bold;
}

footer {
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    text-align: center;
    flex: none;
    position: sticky;
    top: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    align-items: center;
}

@media screen and (max-width:768px) {
    .card-container {
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
}

@media screen and (max-width:320px) {
    footer {
        font-size: 0.9rem;
    }
}
html,
body {
  width: 100%;
  height:100%; 
  overflow-x: hidden;
}

.card-container {
     width: 100%;
     display: flex;
     margin-left: 40px;    
     flex-wrap: wrap;
     margin-bottom:150px;
     
}
.empty_div {
    position: relative;
    transition: all 0.5s ease;
  }
  .event_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 30px;
    align-items: center;
    margin:30px;
    width:300px;
    word-wrap: break-all;
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom-color: #5cb85c;
    border-bottom-width: 4px;
  }
  .event_card::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #5cb85c;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: 47%;
  }
  .event_card .btn{
      background-color: #5cb85c;
      border:1px solid #5cb85c;
  }
  .date{
      color: grey;
      margin-top: 20px;
  }
  .date:nth-child(2){
      margin-bottom: 20px;
  }
  .event_details{
      display: flex;
      flex-direction: column;
  }
  .empty_div:hover {
    transform: scale(0.95);
  }
  .event_title {
    font-weight: bold;
  }
  .link{
      margin-top: 20px;
  }
  
  .location{
      color: #5cb85c;
      font-weight: bold;
  }
  footer {
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    text-align:center;
    flex:none;
    position:sticky;
    top:100%;
    padding-top: 10px;
    padding-bottom:5px;
    align-items: center;
  }
  @media screen and (max-width:768px){
    .card-container{
        align-items: center;
        justify-content: center;
        margin-left:0px;
    }
  }
  @media screen and (max-width:320px){
    footer{
      font-size:0.9rem;
    }
  }
