html,
body {
  width: 100%;
  overflow-x: hidden;
}
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.empty_div {
  position: relative;
}
.event_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 30px;
  align-items: center;
  margin: 30px;
  width: 300px;
  word-wrap: break-all;
  cursor: pointer;
  transition: all 0.5s ease;
}
.event_card::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #5cb85c;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: 47%;
}
.date{
    color: grey;
    margin-top: 20px;
}
.date:nth-child(2){
    margin-bottom: 20px;
}
.event_details{
    display: flex;
    flex-direction: column;
}
.empty_div:hover {
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.event_title {
  font-weight: bold;
}
.link{
    margin-top: 20px;
}

.location{
    color: #5cb85c;
    font-weight: bold;
}
footer {
  border-top: 2px solid rgba(0, 0, 0, 0.125);
  padding: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  top: 100%;
  justify-content: center;
  align-items: center;
}
